input{
    display: none;
}
.input-area{
    width: 100%;
    text-align: center;
}
.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
.top-content h3{
    margin-top: 10px;
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0px 50px;
    color: white;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.5);
    transition: .3s;

}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .input-area .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .input-area .photo-gallery .sketches{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .input-area .photo-gallery .portraits,
#check2:checked ~ .input-area .photo-gallery .acrylic{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}