.header-area{
    background-image: url('../../../images/header.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.about-btn{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
}
.header{
    color: blanchedalmond;
    margin-top: 350px;
    margin-left: 100px;
}