.featured-area{
    margin-top: 100px;
}
.image-area{
        position: relative;
        height: 230px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
}
.image-area img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
}
.pic1{
    margin-left: -60px;
}
.pic2{
    margin-left: 60px;
}
.category-area{
    margin-top: 100px;
}
.text{
    text-align: end;
    margin-right: 222px;
}
.text1{
    text-align: end;
}
.art-area{
    display: flex;
}   
.art-area img{
    width: 30%;
    border: 2px solid black;
    padding: 10px;

}